.App {
  align-items: center;
  background-color: #061a10;
  color: #bfbfbf;
  font-size: calc(12px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin-top: 0;
}

.Menu{
  position: relative;
  padding-top: 25px;
}

.MainTitle{
  font-size: 18pt;

}

.SubTitle{
  font-size: 14pt;
  font-style: oblique;
}
